body{
    background-color: #0B1308;
    color: rgb(255, 255, 255, 100%);
    font-family: "DM Sans", sans-serif;
    font-size: 21px;
    height: 95vh;
 }
 
 header{
     display: grid;
     grid-template-rows: 1fr 1fr;
     margin: 20px 80px 10px 80px;
     gap: 10px;
 }
 
 header .top{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 30px;
     justify-content: space-around;
 }
 
 header .top .info{
     display: flex;
     align-items: center;
     border-radius: 40px;
     background-color: rgb(48, 255, 156, 45%);
     overflow: hidden;
 }
 
 header .info__title{
     display: flex;
     justify-content: center;
     background-color: rgb(152, 255, 206, 45%);
     padding: 20px;
     border-radius: 40px;
     width: 40%;
     max-width: 200px;
 }
 
 header .info__data{
     display: flex;
     width: 55%;
     justify-content: center;
     color: rgb(185, 221, 55);
 }
 
 header .top .info__search{
    display: flex;
    justify-content: center;
    background-color: rgb(152, 255, 206, 45%);
 }

 header .top .info__search input{
        background: transparent;
        border: none;
        text-align: center;
        white-space: nowrap;
        width: 100%;
 }
 
 header .bottom{
     display: flex;
     align-items: center;
     border-radius: 40px;
     background-color: rgb(48, 255, 156, 45%);
     overflow: hidden;
 }
 
 header .bottom .info__title{
     display: flex;
     justify-content: center;
     background-color: rgb(152, 255, 206, 45%);
     padding: 20px;
     border-radius: 40px;
     width: 40%;
 }
 
 header .bottom .info__recommendation{
     justify-content: initial;
     padding: 0px 25px;
 }
 
 main{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px;
     margin: 0px 80px 10px 80px;
     height: 80vh;
 }
 
 main .main__content{
     display: flex;
     flex-direction: column;
     padding: 10px 20px 10px 20px;
     gap: 10px;
     background-color: rgb(48, 255, 156, 45%);
     border-radius: 40px;
 }
 
 main .main__right{
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
     gap: 10px;
     border-radius: 40px;
     height: 100%;
 }
 
 main .title{
     display: flex;
     justify-content: center;
 }
 
 main .content{
     color: rgb(185, 221, 55);
     display: grid;
     grid-template-columns: 1fr;
     gap: 10px;
 }
 
 main .books{
     font-size: 18px;
 }
 
 main .left{
     height: 100%;
 }