<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script> 

    <title>Consultar disciplina</title>
</head>

<body>
    <div class="sidebar">
        <form action="{{url_for('home')}}" method="POST">
            <input type="text" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{placeholder}}" value="" name="campo_disciplina" autocomplete="family-name" id="tags">
        </form>
        <div class="list-field" id="list-field"></div>
        <script class="autocomplete-list"> 
            $( function() { 
                var availableTags = [ 
                    {% for disciplina in disciplinas %} 
                        "{{ disciplina }}", 
                    {% endfor %}
                ]; 
                $( "#tags" ).autocomplete({ 
                    source: availableTags,
                    appendTo: "#list-field",
                });
            }); 
        </script>

        <div class="info">
            <div class="info__subject">
                <span>Código: </span>
                <span>{{codigo}}</span>
            </div>
            <div class="info__subject">
                <span>TPEI: </span>
                <span>{{tpei}}</span>
            </div>
            <div class="info__subject">
                <span>Concluída: </span>
                <span>{{concluida}}</span>
            </div>
            <div class="info__subject info__recommendation">
                <span>Recomendações: </span>
                <ul>
                    {% for disciplina in recomendacao %}
                    <li>{{disciplina}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- <header>
        <div class="top">
            <div class="info info__search">
                
                <div class="list-container">
                    <div class="list-field" id="list-field"></div>
                </div>
                
            </div>
            <div class="info">
                <div class="info__title">
                    <span>TPEI</span>
                </div>
                <div class="info__data">
                    <span>{{tpei}}</span>
                </div>
            </div>
            <div class="info">
                <div class="info__title">
                    <span>Código</span>
                </div>
                <div class="info__data">
                    <span>{{codigo}}</span>
                </div>
            </div>
            <div class="info">
                <div class="info__title">
                    <span>Concluída</span>
                </div>
                <div class="info__data">
                    <span>{{concluida}}</span>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="info__title">
                <span>Recomendações</span>
            </div>
            <div class="info__data info__recommendation">
                <span>{{recomendacao}}</span>
            </div>
        </div>
    </header>

    <main>
        <div class="main__left">
            <div class="main__content left">
                <div class="title">
                    <span>Ementa</span>
                </div>
                <div class="content">
                    {% for topic in ementa %}
                    <span>{{topic}}</span>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="main__right">
            <div class="main__content">
                <div class="title">
                    <span>Objetivos</span>
                </div>
                <div class="content">
                    <span>{{objetivos}}</span>
                </div>
            </div>
            <div class="main__content">
                <div class="title">
                    {% if  placeholder != "Digite o nome da disciplina" %}
                    <span>Recomendam {{placeholder}}</span>
                    {% else %}
                    <span>Recomendam</span>
                    {% endif %}
                </div>
                <div class="content recomendam">
                    {% for disciplina in recomendam %}
                    <li>{{disciplina}}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main> -->
</body>
</html>