<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script> 

    <title>Consultar disciplina</title>
</head>

<body>
    <div class="sidebar">
        <form action="{{url_for('home')}}" method="POST">
            <input type="text" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{placeholder}}" value="" name="campo_disciplina" autocomplete="family-name" id="tags">
        </form>
        <div class="list-field" id="list-field"></div>
        <script class="autocomplete-list"> 
            $( function() { 
                var availableTags = [ 
                    {% for disciplina in disciplinas %} 
                        "{{ disciplina }}", 
                    {% endfor %}
                ]; 
                $( "#tags" ).autocomplete({ 
                    source: availableTags,
                    appendTo: "#list-field",
                });
            }); 
        </script>

        <div class="info">
            <div class="info__subject">
                <span>Código: </span>
                <span>{{codigo}}</span>
            </div>
            <div class="info__subject">
                <span>TPEI: </span>
                <span>{{tpei}}</span>
            </div>
            <div class="info__subject">
                <span>Concluída: </span>
                <span>{{concluida}}</span>
            </div>
            <div class="info__subject info__recommendation">
                <span>Recomendações: </span>
                <div class="recommendation__subjects">
                    <ul>
                        {% for disciplina in recomendacao %}
                        <li>{{disciplina}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form action="{{url_for('home')}}" method="POST" class="form">
        <button text="Concluir" name="botao_conclusao" value="{{placeholder}}"></button>
        </form>
    <main>
        <div class="top-content">
            <div class="top-content__title">
                <span>Objetivos</span>
            </div>
            <div class="top-content__text">
                <span>{{objetivos}}</span>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <div class="content__title">
                    <span>Ementa</span>
                </div>
                <div class="content__text">
                    {% for topic in ementa %}
                    <span>{{topic}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <div class="content__title">
                    <span>Recomendam</span>
                </div>
                <div class="content__text">
                    {% for disciplina in recomendam %}
                    <span>{{disciplina}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>